extends ../layout.jade
block contenido
	div(class="container")
		h7 Hola #{user.name}
	div(class="col-md-8 remove-float text-center mx-auto top-space")
		h1 Registro de dispositivos
	div(class="col-md-8 remove-float text-center mx-auto top-space")
		img(src="/public/img/microcontroller.png",class="right-space")
		img(src="/public/img/raspi.png")
	div(class="col-md-8 remove-float text-center mx-auto top-space")
		a(href="/app/devices/new",class="right-space2", style="font-size: x-large") Crear dispositivos
		a(href="/app/reset", style="font-size: x-large") Cambiar contraseña
	div(class="col-md-8 remove-float text-center mx-auto top-space")
		a(href="http://localhost:3300", style="font-size: x-large") Ver mediciones
	script(src="/public/js/client.js")
		


