extends ../layout
block contenido
	div(class="col-md-6 remove-float mx-auto mid-top-space")
		h2 Cambiar contraseña
			img(src="/public/img/pass.png",style="float:right")
		form(method="POST")
				div(class="form-group top-space")
					input(type="password",name="password",placeholder="Password",id="password",class="form-control")
				div
					input(type="password",name="password_confirmation",placeholder="Confirma tu Password",id="password_confirmation",class="form-control")
				div(class="top-space")
					input(type="submit" value="Aceptar" class="btn btn-info")
					


