extends ../../layout.jade
block contenido
	div(class="col-md-6 remove-float mx-auto mid-top-space")
		h2 Editar dispositivo
			img(src="/public/img/edit.png",style="float:right")
		form(action="/app/devices/#{device.id}?_method=PUT",method="POST")
			div(class="form-group")
				label(for="title") Nombre
				input(type="text",name="title",placeholder="Nombre del dispositivo...",id="title",class="form-control")
			div
				label(for="comm_protocol") Protocolo de comunicación
				select(name="comm_protocol",class="form-control") 
					option(value="MQTT") MQTT
					option(value="Bluetooth") Bluetooth
			div(class="row top-space")
				div(class="col-xs-12 col-sm-6")
					input(type="submit" value="Guardar" class="btn btn-info")
