extends ../../layout.jade
block contenido
	div(class="container top-space remove-float mx-auto text-center") 
		h1 Mis Dispositivos
	div(class="container top-space")
		img(class="left-space",src="/public/img/search.png") 
		img(src="/public/img/edit.png",class="mid-left-space") 
		img(src="/public/img/delete.png",class="mini-left-space") 
		div(id="devices")
		for device in devices
			.white.border.tr.large-padding
				.row
					.col-md-9
						h3=device.title
					.col-md-3
						a(href="/app/devices/#{device._id}/sensors",class="right-space") Sensores
						a(href="/app/devices/#{device._id}/edit",class="right-space") Editar
						form(action="/app/devices/#{device._id}?_method=DELETE",class="link", method="POST") 
							input(type="submit",value="Eliminar")
		div
			a(href="/app/devices/new",class="left-space3", style="font-size: large") Crear nuevo dispositivo
					
					
