extends ../../layout.jade
block contenido
	div(class="col-md-6 remove-float mx-auto mid-top-space")
		h2 Registrar nuevo dispositivo
			img(src="/public/img/new.png", style="float:right")
		form(action="/app/devices" method="POST")
			div(class="form-group")
				label(for="title") Nombre
				input(type="text",name="title",placeholder="Nombre del dispositivo...",id="title",class="form-control")
			div
				label(for="comm_protocol") Protocolo de comunicación
				select(name="comm_protocol",class="form-control") 
					option(value="MQTT") MQTT
					option(value="Bluetooth") Bluetooth
					option(value="Comunicación Serial") Comunicación Serial
			div(class="row top-space")
				div(class="col-xs-12 col-sm-6")
					input(type="submit" value="Aceptar" class="btn btn-info")
	script(src="/public/js/client.js")
