doctype html
head
    meta(http-equiv = "Content-Type", content = "text/html; charset=UTF-8")
    title= subject
      
body
    h1.h1 Hola #{nombre}
    h2.h2 Te damos la bienvenida a la plataforma Open Air-duinoBerry
    p ¿En qué consiste la plataforma? 
      | Esta es una iniciativa, basada en el software y el hardware libre, que busca hacer interoperables los datos de sensores heterogéneos en el ámbito de Internet de las Cosas
      br
      | Te agradecemos por utilizar esta aplicación y esperamos que sigamos construyendo en comunidad.
    p Puedes revisar la documentación sobre el proyecto en el siguiente enlace:
    p 
    ul
      li  #[a(href="https://github.com/alexei8a/Open-Air-duinoberry.git") Documentación]  

