extends layout2
block contenido
	div(class="col-md-6 remove-float mx-auto mid-top-space")
		h2 ¿Olvidaste tu contraseña?
			img(src="/public/img/remember.png", style="float:right")
		form(method="POST", class="remove-float mx-auto top-space")
				div(class="form-group top-space")
					input(type="text",name="email",placeholder="Email",id="email",class="form-control")  
				div    
					input(type="submit" value="Recordar contraseña" class="btn btn-info" class="big-right-space3") 
					a(href="/login") Ingresar
