extends ./layout2.jade
block contenido
	div(class="col-md-8 remove-float text-center mx-auto top-space")
		h1 Bienvenido a Open Air-duinoberry
	div(class="col-md-8 remove-float text-center mx-auto top-space")
		img(src="/public/img/airduinoberry.png")
	div(class="col-md-8 remove-float text-center mx-auto top-space")
		a(href="/login",class="right-space2", style="font-size: x-large") Iniciar Sesión
		a(href="/signup", style="font-size: x-large") Registro de usuario nuevo

