doctype html
head
    meta(http-equiv = "Content-Type", content = "text/html; charset=UTF-8")
    title= subject
      
body
    h1.h1 Hubo un problema con tus sensores
    p Las medidas del sensor #{key} se encuentran fuera de los límites definidos.
    br
    p Se han registrado los siguientes valores #{data}
    p
      | Este es un sistema básico de alertas que te avisa cuando se exceden los límites definidos para valores de las mediciones realizadas por tus sensores.
      br
      | Te agradecemos por utilizar esta aplicación y esperamos que sigamos construyendo en comunidad.
    p Puedes revisar la documentación sobre el proyecto en el siguiente enlace:
    p 
    ul
      li  #[a(href="https://github.com/alexei8a/Open-Air-duinoberry.git") Documentación]  
